[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
awscli = "*"
pylint = "*"
python-lambda-local = "*"

[packages]
ask-sdk = "*"
awscli = "*"
pylint = "*"
astroid = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
